<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Library-Management-System</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>LoginBean</display-name>
    <servlet-name>LoginBean</servlet-name>
    <servlet-class>com.Bean.LoginBean</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginBean</servlet-name>
    <url-pattern>/LoginBean</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.controller.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowBookServlet</display-name>
    <servlet-name>ShowBookServlet</servlet-name>
    <servlet-class>com.controller.ShowBookServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowBookServlet</servlet-name>
    <url-pattern>/ShowBookServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddHistoricalBookServlet</display-name>
    <servlet-name>AddHistoricalBookServlet</servlet-name>
    <servlet-class>com.controller.AddHistoricalBookServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddHistoricalBookServlet</servlet-name>
    <url-pattern>/AddHistoricalBookServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowHistoricalBookServlet</display-name>
    <servlet-name>ShowHistoricalBookServlet</servlet-name>
    <servlet-class>com.controller.ShowHistoricalBookServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowHistoricalBookServlet</servlet-name>
    <url-pattern>/ShowHistoricalBookServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HomeServlet</display-name>
    <servlet-name>HomeServlet</servlet-name>
    <servlet-class>com.controller.HomeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HomeServlet</servlet-name>
    <url-pattern>/HomeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateHistoricalBookServlet</display-name>
    <servlet-name>UpdateHistoricalBookServlet</servlet-name>
    <servlet-class>com.controller.UpdateHistoricalBookServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateHistoricalBookServlet</servlet-name>
    <url-pattern>/UpdateHistoricalBookServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddComicsBookServlet</display-name>
    <servlet-name>AddComicsBookServlet</servlet-name>
    <servlet-class>com.controller.AddComicsBookServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddComicsBookServlet</servlet-name>
    <url-pattern>/AddComicsBookServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddBiographicalBookServlet</display-name>
    <servlet-name>AddBiographicalBookServlet</servlet-name>
    <servlet-class>com.controller.AddBiographicalBookServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddBiographicalBookServlet</servlet-name>
    <url-pattern>/AddBiographicalBookServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddNovelBookServlet</display-name>
    <servlet-name>AddNovelBookServlet</servlet-name>
    <servlet-class>com.controller.AddNovelBookServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddNovelBookServlet</servlet-name>
    <url-pattern>/AddNovelBookServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddFairyTaleBookServlet</display-name>
    <servlet-name>AddFairyTaleBookServlet</servlet-name>
    <servlet-class>com.controller.AddFairyTaleBookServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddFairyTaleBookServlet</servlet-name>
    <url-pattern>/AddFairyTaleBookServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateComicsBookServlet</display-name>
    <servlet-name>UpdateComicsBookServlet</servlet-name>
    <servlet-class>com.controller.UpdateComicsBookServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateComicsBookServlet</servlet-name>
    <url-pattern>/UpdateComicsBookServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateBiographicalBookServlet</display-name>
    <servlet-name>UpdateBiographicalBookServlet</servlet-name>
    <servlet-class>com.controller.UpdateBiographicalBookServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateBiographicalBookServlet</servlet-name>
    <url-pattern>/UpdateBiographicalBookServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateNovelBookServlet</display-name>
    <servlet-name>UpdateNovelBookServlet</servlet-name>
    <servlet-class>com.controller.UpdateNovelBookServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateNovelBookServlet</servlet-name>
    <url-pattern>/UpdateNovelBookServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateFairyTaleBookServlet</display-name>
    <servlet-name>UpdateFairyTaleBookServlet</servlet-name>
    <servlet-class>com.controller.UpdateFairyTaleBookServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateFairyTaleBookServlet</servlet-name>
    <url-pattern>/UpdateFairyTaleBookServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowComicsBookServlet</display-name>
    <servlet-name>ShowComicsBookServlet</servlet-name>
    <servlet-class>com.controller.ShowComicsBookServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowComicsBookServlet</servlet-name>
    <url-pattern>/ShowComicsBookServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowBiographicalBookServlet</display-name>
    <servlet-name>ShowBiographicalBookServlet</servlet-name>
    <servlet-class>com.controller.ShowBiographicalBookServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowBiographicalBookServlet</servlet-name>
    <url-pattern>/ShowBiographicalBookServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowNovelBookServlet</display-name>
    <servlet-name>ShowNovelBookServlet</servlet-name>
    <servlet-class>com.controller.ShowNovelBookServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowNovelBookServlet</servlet-name>
    <url-pattern>/ShowNovelBookServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowFairyTaleBookServlet</display-name>
    <servlet-name>ShowFairyTaleBookServlet</servlet-name>
    <servlet-class>com.controller.ShowFairyTaleBookServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowFairyTaleBookServlet</servlet-name>
    <url-pattern>/ShowFairyTaleBookServlet</url-pattern>
  </servlet-mapping>
</web-app>